<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>SimpleJspServletDB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>UserController</display-name>
        <servlet-name>UserController</servlet-name>
        <servlet-class>org.avid.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>InventoryController</display-name>
        <servlet-name>InventoryController</servlet-name>
        <servlet-class>org.avid.controller.InventoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryController</servlet-name>
        <url-pattern>/InventoryController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>POSController</display-name>
        <servlet-name>POSController</servlet-name>
        <servlet-class>org.avid.controller.POSController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>POSController</servlet-name>
        <url-pattern>/POSController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ClockInController</display-name>
        <servlet-name>ClockInController</servlet-name>
        <servlet-class>org.avid.controller.ClockInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClockInController</servlet-name>
        <url-pattern>/ClockInController</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ManageEmployeeController</display-name>
        <servlet-name>ManageEmployeeController</servlet-name>
        <servlet-class>org.avid.controller.ManageEmployeeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageEmployeeController</servlet-name>
        <url-pattern>/ManageEmployeeController</url-pattern>
    </servlet-mapping>
</web-app>
